<div ng-controller="showCtrl">



	<table class="css-table">
		<tr class="css-table-row">
			<th class="css-table-cell"><label class="css-tableheader"></label>
			</th>
			<th class="css-table-cell"><label class="css-tableheader">Name</label>
			</th>
			<th class="css-table-cell"><label class="css-tableheader">Employee
					Id</label></th>
			<th class="css-table-cell"><label class="css-tableheader">Manager
					Email</label></th>
			<th class="css-table-cell"><label class="css-tableheader">Employee
					Email</label></th>
			<th class="css-table-cell"><label class="css-tableheader">status</label>
			</th>
			<th class="css-table-cell"><label class="css-tableheader">comment</label>
			</th>
		</tr>
		<!-- <tr class="fade" ng-repeat="employee in employeesList"
			ng-if="employee.ReqStatus == 0"> -->
		<tr class="fade" ng-repeat="employee in employeesList">
			<td class="css-table-cell"><input type="checkbox"></td>

			<td class="css-table-cell">{{employee.name}}</td>
			<td class="css-table-cell">{{employee.dsId}}</td>
			<td class="css-table-cell">{{employee.managerId}}</td>
			<td class="css-table-cell">{{employee.email}}</td>
			<td class="css-table-cell">{{employee.appArea}}</td>
			<td class="css-table-cell">{{employee.appArea}}</td>


		</tr>
	</table>
	<div align="center">
		<button>Approve</button>
		<button>Decline</button>
	</div>



</div>